html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
               'Helvetica Neue', Arial, sans-serif;
  overflow: none;
}

.App {
  text-align: left;
  margin: 2rem auto;
}

.List {
  overflow: auto;
  height: 300px;
  max-height: 400px;
  border: 1px solid black;
}

.Event {
  padding: 5px;
  height: 120px;
  border: 1px solid gray;
  overflow: hidden
}

.Peers {
  height: 200px;
  overflow: auto;
}

.distance {
  font-family: monospace;
  font-weight: bold;
}

.red {
  color: red;
}
.green {
  color: green;
}


#circle {
  width: 300px;
  height: 300px;
  display: block;
}
